<h2 mat-dialog-title>Participants list</h2>
<mat-dialog-content>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">land line</th>
        <th scope="col">Fax</th>
        <th scope="col">Mobile Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of data.part">
        <td scope="col"> {{ elem.fullname }} </td>
        <td scope="col"> {{ elem.landLine }} </td>
        <td scope="col"> {{ elem.fax }} </td>
        <td scope="col"> {{ elem.mobilePhone }} </td>
        <td scope="col"> {{ elem.email }}</td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
